@import "../variables";

.column {
  &--with-offsets {
    padding-left: @column-inner-offset;
    padding-right: @column-inner-offset;
  }

  &--flex {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &--align-center {
    align-items: center;
  }

  &--self-start {
    align-self: flex-start;
  }

  &--self-end {
    align-self: flex-end;
  }

  &--sm-self-end {
    align-self: flex-end;
    @media (max-width: @screen-xs) {
      align-self: unset;
    }
  }
}
