@import "../variables";

.column {
  &--with-offsets {
    padding-left: @column-inner-offset;
    padding-right: @column-inner-offset;
  }

  &--full-width {
    width: 100%;
  }

  &--flex {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &--align-center {
    align-items: center;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--self-start {
    align-self: flex-start;
  }

  &--self-end {
    align-self: flex-end;
  }

  &--self-stretch {
    align-self: stretch;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--sm-self-end {
    align-self: flex-end;
    @media (max-width: @screen-xs) {
      align-self: unset;
    }
  }

  &--col-2 {
    flex: 1 1 50%;
    @media (max-width: @screen-sm-max) {
      width: 100%;
    }
  }
}
