@import "../variables";

.container {
  max-width: @screen-xxl;
  box-sizing: border-box;
  padding-left: @container-xl-offsets;
  padding-right: @container-xl-offsets;
  margin-left: auto;
  margin-right: auto;

  // 1600
  @media (max-width: @screen-xl-max) {
    max-width: @screen-xl;
  }

  // 1200
  @media (max-width: @screen-lg-max) {
    max-width: @screen-lg;
  }

  // 992px
  @media (max-width: @screen-md-max) {
    max-width: 100%;
  }

  // 576px
  @media (max-width: @screen-xs-max) {
    padding-left: @container-sm-offsets;
    padding-right: @container-sm-offsets;
  }

  &--small {
    width: 100%;
    max-width: 867px;
    padding: 0;
    //margin-left: -@container-xl-offsets;
    //margin-right: -@container-xl-offsets;
    box-sizing: border-box;

    @media (max-width: @screen-md-max) {
      max-width: @screen-md;
    }

    @media (max-width: @screen-sm-max) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
