@import "../variables";

.container {
  max-width: @screen-xxl;
  box-sizing: border-box;
  padding-left: @container-xl-offsets;
  padding-right: @container-xl-offsets;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: @screen-xl-max) {
    max-width: @screen-xl;
  }

  @media (max-width: @screen-lg-max) {
    max-width: @screen-lg;
    padding-left: @container-lg-offsets;
    padding-right: @container-lg-offsets;
  }

  @media (max-width: @screen-md-max) {
    max-width: 100%;
    padding-left: @container-sm-offsets;
    padding-right: @container-sm-offsets;
  }
}
