@import "../../styles/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: @button-large-height;
  min-width: @button-large-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  font-family: @font-family;
  border-radius: @button-radius;
  background-color: @button-primary;
  font-size: @heading-6;
  color: @white;
  cursor: pointer;
  transition: background-color 0.35s;
  padding-left: @button-hor-padding;
  padding-right: @button-hor-padding;
  box-sizing: border-box;

  @media (max-width: @screen-lg-max) {
    height: @button-height;
    min-width: @button-width;
    padding-left: @button-hor-padding * 0.8;
    padding-right: @button-hor-padding * 0.8;
  }

  &:hover {
    background-color: rgba(@button-primary, 0.7);
  }

  &--white {
    background-color: @white;
    color: @black;
    box-shadow: @button-shadow;

    &:hover {
      background-color: rgba(@black, 0.05);
    }
  }

  &--outline {
    border: 1px solid @black;
    background: @white;
    color: @black;

    &:hover {
      background-color: rgba(@black, 0.05);
    }
  }

  &--text {
    background-color: transparent;
    padding: 0;
    height: 45px;
    color: @black;

    &:hover {
      background-color: rgba(@black, 0.05);
    }
  }

  &--small {
    height: @button-height;
    min-width: @button-width;

    @media (max-width: @screen-lg-max) {
      height: @button-height * 0.8;
      min-width: @button-width * 0.8;
    }
  }

  &--extra-small {
    height: @button-xs-height;
    min-width: @button-xs-width;
  }
}
