@import "../../styles/variables";
@import "../../styles/mixins";

@block: typography;

.@{block} {
  color: @black;
  font-family: @font-family;
  font-size: @font-size;

  &--level-1 {
    .font-sizes(@heading-1)
  }
  &--level-2 {
    .font-sizes(@heading-2)
  }
  &--level-3 {
    .font-sizes(@heading-3)
  }
  &--level-4 {
    .font-sizes(@heading-4)
  }
  &--level-5 {
    .font-sizes(@heading-5)
  }
  &--level-6 {
    .font-sizes(@heading-6)
  }

  &--family-second {
    font-family: @font-family-second;
  }

  &--brown {
    color: @brown;
  }

  &--primary {
    color: @primary-accent;
  }

  &--black {
    color: @black;
  }

  &--bold {
    font-weight: bold;
  }

  &--normal {
    font-weight: normal;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

h1.@{block},
h2.@{block},
h3.@{block},
h4.@{block},
h5.@{block},
h6.@{block} {
  line-height: 1.1;
}

p.@{block},
span.@{block} {
  line-height: 1.56;
  color: @brown;
}
