@import "../../../styles/variables";

@block: input-select;

.@{block} {
  width: 100%;
  position: relative;
  padding-right: 0;
  & &__control, & &__control:hover {
    box-shadow: none;
    border-color: transparent;
    min-height: @field-height;
  }

  & &__control {
    width: 100%;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
  }

  & &__value-container {
    padding: 0;
  }

  & &__wrap .input__field {
    padding-right: 0;
  }

  & &__indicator-container {
    padding-right: 20px;
    padding-left: 10px;
  }
}
