@import "../../styles/variables";

@block: feedback;

.@{block} {
  &__inner {
    padding-top: 20px;
    padding-bottom: 250px;

    @media (max-width: @screen-md-max) {
      padding-bottom: 100px;
    }

    @media (max-width: @screen-sm-max) {
      padding-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 2em;
  }

  &__avatar {
    flex: 0 0 130px;
    height: 130px;
    background-color: @image-background-color;
    border-radius: 50%;
    margin-right: 30px;
    overflow: hidden;

    @media (max-width: @screen-sm-max) {
      flex: 0 0 60px;
      height: 60px;
      width: 60px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__avatar-img {
    display: block;
    width: 100%;
  }

  &__content-title {
    margin-bottom: 0.7em;
  }

  &__inner {
    max-width: 860px;
  }

  &__message {
    @media (max-width: @screen-sm-max) {
      font-size: 14px;
    }
  }

  p.@{block}__message {
    line-height: 1.8;
  }

  &__button {
    margin-bottom: 20px;
  }

  &__buttons {
    margin-top: 1.4em;

    @media (max-width: @screen-sm-max) {
      margin-top: 28px;
    }
  }
}
